.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.card {
    button { 
        &.checkbox.custom {
            margin: auto;
            display: block;
          }
          input[type="checkbox"].custom {
            margin-left: 0;
            padding: 0;
          }
          
          input[type=checkbox].css-checkbox {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0px;
            border: 0;
          }
        
          input[type=checkbox].css-checkbox+label.checkbox-cart {
            padding-left: 70px;
            height: 65px;
            width: 195px;
            display: inline-block;
            line-height: 70px;
            background-repeat: no-repeat;
            background-position: center 0;
            font-size: 15px;
            vertical-align: middle;
            cursor: pointer;
          }
          
        
          input[type=checkbox].css-checkbox+label.checkbox-cart:hover {
            opacity: 1;
          }
          
        
          input[type=checkbox].css-checkbox:checked+label.checkbox-cart {
            //   button remove
            background-position: center -66px;
            opacity: 1;
          }
        
          .checkbox-cart {
            background-image: url(../img/check.png);
          }
        
     }

     input[type=checkbox].css-checkbox+label.checkbox-cart { opacity: 0; }
    &:hover {
        input[type=checkbox].css-checkbox+label.checkbox-cart { opacity: 1; }
    }
}

